/software/node_modules
/software/public/static/libs/dist
/kotakeeosModule/arduino_secrets.h
/triggerWordDetection/XY_train
/triggerWordDetection/XY_dev
/triggerWordDetection/XY_dev_kotakee
/triggerWordDetection/train.wav
/triggerWordDetection/__pycache__
/triggerWordDetection/model_checkpoints
/speechServer/__pycache__
/satelliteServer/node_modules
/speech_server/old_code
/speech_server/__pycache__
/speech_server/quest_ai/quest_ai_dependencies/roberta-large_fine-tuned